html{
    scroll-behavior: smooth;
    background-color: white;
}
*{
    margin: 0;
    padding: 0;
}
#sorttable{
    display: block;
    width: 90vw;
    position: absolute;
    border-collapse: collapse;
    text-align: center;
}
#sorttable th{
    width: 22.4vw;
    border: darkred solid 1px;
    height: 5vh;
}
#sorttable td{
    height: 5vh;
    width: 22.4vw;
    border: none;
}
#empty{
    display: none;
    position: fixed;
    width: 68vw;
    text-align: center;
    transform: translate(0,140%);
    font-size: 1.5rem;
    height: 6vh;
    background-color: antiquewhite;
}