html{
    background-image: url(".././pictures/2.webp");
    background-size: cover;
    scroll-behavior: smooth;
}
section{
    text-align: center;
}
.h1{
    text-align: center;
}
.row{
    background-color: aqua;
    opacity: 0.8;
    display: block;
    margin-top: 8vw;
    margin-left: 55vh;
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
.col{
    transform: translate(10vw,14vh);
    width: 450px;
    height: 250px;
    display: block;
}
.dl{
    text-align: center;
    transform: translate(16vw,-14vh);
    width: 70px;
    height: 32px;
    border-radius: 10px;
}