*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    display: grid;
    grid-template-rows: 10vh 1fr 10vh;
}
header{
    text-align: center;
    background-color: orange;
}
main{
    text-align: center;
    background: url("../images/10.webp") no-repeat;
    background-size: cover;
}
footer{
    line-height: 10vh;
    text-align: center;
    background-color: pink;
}
