*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heart{
    width: 200px;
    height: 200px;
    background-color: red;
    transform: rotate(45deg) scale(0.5);
    animation-name: hd;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes hd {
    25%{
        transform: rotate(45deg) scale(1);
    }50%{
        transform: rotate(45deg) scale(0.5);
    }75%{
        transform: rotate(45deg) scale(1);
    }85%{
        transform: rotate(45deg) scale(0.5);
    }
    to{
        transform: rotate(45deg) scale(1.5);
    }
}

.heart::before{
    content: '';
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    background:red;
    transform: translateX(-100px);
}
.heart::after{
    content: '';
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    background: red;
    transform: translateY(-100px)
}